<header class="p-3 mb-5 border-bottom">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 fs-5 ">
          <li class="nav-item mx-2"><a href="{{ url_for("web_app.departments") }}" class="nav-link link-dark">Departments</a></li>
          <li class="nav-item mx-2" ><a href="{{ url_for("web_app.employees") }}" class="nav-link link-dark">Employees</a></li>
        </ul>

      </div>
    </div>
</header>